@import "tailwindcss";

:root {
  --font-geist-sans: var(--font-geist-sans, sans-serif);
  --font-geist-mono: var(--font-geist-mono, monospace);
}

  @theme {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  }

body {
  font-family: var(--font-geist-sans);
}